/MANIFEST
/MANIFEST.bak
/MANIFEST.SKIP
/META.*
/MYMETA.*
/Makefile
/Makefile.old
/README
/blib/
/pm_to_blib
/Distar
/cover_db/
/_eumm/
*~
*#
.#*
/Pod-Coverage-TrustMe-*/
/Pod-Coverage-TrustMe-*.tar
/Pod-Coverage-TrustMe-*.tar.gz
